.container{
    margin-left: 30%;
    margin-top: 20px;
    border: solid;
    border-radius: 5px;
    border-color: #cdeeee;
    padding: 20px;
}
.labelClass{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
.btnDasboard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #62ecec;
    border-color: #62ecec;
  }
